/*Etiquetas por defecto*/
* {
	margin: 0;
	padding: 0;
}

@font-face {
	 font-family: 'KeepCalm-Medium';
  /* Antes de descargar el archivo, le decimos al buscador
  que intente buscar en local la fuente con nombre
  Cabin, Cabin Regular o Cabin-Regular */
  src: url('font/KeepCalm-Medium.ttf');
}

/*colores*/

.azul {
	color:#08245a;
}

.blanco{
	color: white;
}
.rojo {
	color:#ff6161;
}
.morado {
	color:#ff63eb;
}
.amarillo {
	color: #f2ff64;
}
.verde {
	color: #61ff65}
.celeste {
	color: #8af2ff;
}

body {
	margin: 0 auto;
	max-width: 1280px;
	font-family: 'KeepCalm-Medium', Helvetica, Arial;
	font-size: 16px;
}


/*CSS HEADER*/

header {
    background-color: #104395;
    border-bottom: 9px solid #8af2ff;
    color: white;
    height: 141px;
    letter-spacing: 0.5em;
    font-size: .8em;
    width: 100%;

}

header nav ul li  {
	display: inline-block;
}


/*CSS HOME*/

.bienvenidos{
	height:263px;
	width: 100%;
}
.admicionbarra {
	position: relative;
	left: 13%;
}


/*CSS de Textos*/

/*CSS Home*/

/*CSS Facultades*/

/*CSS Contacto*/

/*CSS Requisitos*/