/*Etiquetas por defecto*/
* {
	margin: 0;
	padding: 0;
}

@font-face {
	 font-family: 'KeepCalm-Medium';
  /* Antes de descargar el archivo, le decimos al buscador
  que intente buscar en local la fuente con nombre
  Cabin, Cabin Regular o Cabin-Regular */
  src: url('font/KeepCalm-Medium.ttf');
}
/*TEXTOS*/
/*colores*/

.gris {color:#bbbbbb;}
.gris-oscuro{
	color:#787878;
}
.azul {
	color:#08245a;
}

.blanco{
	color: white;
}
.rojo {
	color:#ff6161;
}
.morado {
	color:#ff63eb;
}
.rosado {
	color:#FF61eb;
}
.amarillo {
	color: #f2ff64;
}
.amarillooscuro{
	color:#b1c006
}
.verde {
	color: #61ff65}
.celeste {
	color: #8af2ff;
}

/*hover*/
.salud:hover{
	color:#8af2ff;
}
.natural:hover{
	color: #61ff65
}
.juridica:hover{
color:#b1c006	
}
.ingenieria:hover{
color:#ff63eb;
}
.educacion:hover{
color:#ff6161;	
}

/* centrar*/
.centrar {text-align:center;}


body {
	background-color:;

	margin: 0 auto;
	max-width: 1036px;
	height: auto;
	font-family:'KeepCalm-Medium', Helvetica, Arial;
	font-size: 16px;
}

a {
	text-decoration: none;
}

/*CSS HEADER*/

header {
       background-color: #104395;
    border-bottom: 9px solid #8af2ff;
    color: white;
    height: 141px;
    letter-spacing: 0.5em;
    font-size: .7em;
    width: 100%;
    margin: 0 auto;

}

header a:hover{
	color: #8af2ff;
}

header nav ul {
	position: absolute;	
	left: 53%;
	top: 105px;
}
header nav ul li  {
	display: inline-block;
	padding: 0 14px;

}

/*botones links*/

.facebook-barra-admision{
    width: 32px;
    height: 43px;
    position: absolute;
    top: 277px;
    left: 65%;
    z-index: 2321312;
}

.twitter-barra-admision{
     width: 38px;
    height: 43px;
    position: absolute;
    top: 277px;
    left: 72%;
    z-index: 2321312;
}

.instagram-barra-admision{
	    width: 38px;
    height: 43px;
    position: absolute;
    top: 277px;
    left: 79%;
    z-index: 2321312;
}

.facebook-barra-social{
    width: 70px;
    height: 68px;
    position: absolute;
    top: 1579px;
    left: 32%;

    z-index: 2321312;
}

.twitter-barra-social{
    width: 70px;
    height: 68px;
    position: absolute;
    top: 1579px;
    left: 48%;

    z-index: 2321312;
}

.instagram-barra-social{
    width: 70px;
    height: 68px;
    position: absolute;
    top: 1579px;
    left: 63%;
    z-index: 2321312;
}
.logo{
	position: relative;
	top: 31px;
	left: 3%;
}


/*CSS HOME*/

.bienvenidos{
	height:263px;
	width: 100%;
}
.bienvenidos p {
	letter-spacing: 0.8em;
	line-height: 4em;
	font-size:1.2em;
	text-align: center
}
.admicionbarra {
	position: relative;
	left: 5%;
	top:-26px;
}

.container-slider {
    background-color: white;
    margin: 0 auto;
    width: 90%;
    height: 448px;

}

.facultades{
	height: 370px;
	width: 100%;
}


.barrafacultades{
	position: relative;
	left: 5%;
	top: 13px;
}

.facultad-educacion{
    width: 183px;
    height: 387px;
    display: inline-block;
    position: relative;
    top: -100px;
    left: 2%;

}

.facultad-ingeneria{
	display: inline-block;
	margin-left: 32px;
	width: 183px;
	height: 387px;
	    position: relative;
    top: 0px;


}

.facultad-juridica{
	display: inline-block;
	margin-left: 15px;
	width: 183px;
	height: 387px;
	    position: relative;
    top: -100px;


}

.facultad-salud{
	display: inline-block;
	margin-left: 15px;
	width: 183px;
	height: 387px;
	    position: relative;
    top: -21px;


}

.facultad-natural{
    display: inline-block;
    /* margin-left: 16px; */
    /* margin-top: 13px; */
    width: 183px;
    height: 387px;
    position: relative;
       top: -40px;

    left: 15px;



}


/*CSS de Textos*/
.titulos-facultad{
	font-size: 0.6em;
	text-align: center;
	
}

.carreras-facultades{
	color: #08245a;
	font-size: 0.6em;
	line-height: 20px;
	text-align: center;
}


/*socialmedia*/

.social-mediaa{
	width: 100%;
	height: 396px;
}
.barra-estudio{
	position: relative;
	left: 5%;
}
.redes{
 position: relative;
    left: 22%;
    top: 55px;

}

.aqui-estamos{
	 border-bottom: 4px solid #8af2ff;
	 border-top: 4px solid #8af2ff;
	 background: #08245a; 
	position: relative;
	top: 117px;
	width: 932px;
	height: 60px;
	margin: 0 auto;

}

.aqui-estamos h2 {
	text-align: center;
	letter-spacing: 0.5em;
	line-height: 70px;
	font-size: 1.2em;
}

/*mapa*/
.mapa{
 width: 97%;
    height: 363px;
    position: relative;
    top: 183px;
    left: 1.9%;

}

#content {

	background-color:#FFF;
border-radius: 0px 0px 0px 0px;
-moz-border-radius: 0px 0px 0px 0px;
-webkit-border-radius: 0px 0px 0px 0px;
border-left: 7px double #08245a;
border-right: 7px double #08245a;
		width:1030px;
		min-height:1100px;
		height:100%;}
.bordes{

border-left: 10px solid #08245a;
border-right: 20px solid #08245a;

width:1035px;
		min-height:1000px;
		height:100%;
	
	}
		
/*CSS contacto*/

.info-contacto{
	width: 30%;
	color:#555a78;
}
.info-contacto p {
    font-size: 0.5em;
}
.manten-contacto{
	 position: relative;
    top: 10px;
    left: 3%;
}

h6 {
	    position: relative;
    top: 50px;
    left: 3%;
}


.info-direccion{
    position: relative;
    top: 54px;
    left: 3%;
}

.numeros{
	
	    position: relative;
    top: 67px;
    left: 3%;
    line-height: 16px;
}

.mover-carreras-natural{
	position: relative;
	top:2px;
}

.mover-carreras-uno{
	position: relative;
	top: 1px;
}



/*CSS Contacto*/

/*CSS Requisitos*/