/*Etiquetas por defecto*/
* {
	margin: 0;
	padding: 0;
}

@font-face {
	 font-family: 'KeepCalm-Medium';
  /* Antes de descargar el archivo, le decimos al buscador
  que intente buscar en local la fuente con nombre
  Cabin, Cabin Regular o Cabin-Regular */
  src: url('font/KeepCalm-Medium.ttf');
}

/*colores*/

.azul {
	color:#08245a;
}

.blanco{
	color: white;
}
.rojo {
	color:#ff6161;
}
.morado {
	color:#ff63eb;
}
.amarillo {
	color: #f2ff64;
}
.amarillooscuro{
	color:#b1c006
}
.verde {
	color: #61ff65}
.celeste {
	color: #8af2ff;
}


body {
	background-color:#08245a;

	margin: 0 auto;
	max-width: 1036px;
	font-family:'KeepCalm-Medium', Helvetica, Arial;
	font-size: 16px;
}

a {
	text-decoration: none;
}

/*CSS HEADER*/

header {
    background-color: #104395;
    border-bottom: 9px solid #8af2ff;
    color: white;
    height: 141px;
    letter-spacing: 0.5em;
    font-size: .7em;
    width: 100%;

}

header a:hover{
	color: #8af2ff;
}

header nav ul {
	position: absolute;	
	left: 53%;
	top: 105px;
}
header nav ul li  {
	display: inline-block;
	padding: 0 14px;

}

.logo{
	position: absolute;
	top: 31px;
	left: 11%;
}


/*CSS HOME*/

.bienvenidos{
	height:263px;
	width: 100%;
}
.bienvenidos p {
	letter-spacing: 0.8em;
	line-height: 4em;
	font-size:1.2em;
	text-align: center
}
.admicionbarra {
	position: relative;
	left: 5%;
	top:-26px;
}

.container-slider {
    background-color: red;
    margin: 0 auto;
    width: 90%;
    height: 448px;

}

.facultades{
	height: 370px;
	width: 100%;
}


.barrafacultades{
	position: relative;
	left: 5%;
	top: 13px;
}

.facultad-educacion{
	width: 183px;
	height: 387px;
	display: inline-block;
	position: relative;
    top: -100px;

}

.facultad-ingeneria{
	display: inline-block;
	margin-left: 16px;
	width: 183px;
	height: 387px;
	    position: relative;
    top: 0px;


}

.facultad-juridica{
	display: inline-block;
	margin-left: 16px;
	width: 183px;
	height: 387px;
	    position: relative;
    top: -100px;


}

.facultad-salud{
	display: inline-block;
	margin-left: 16px;
	width: 183px;
	height: 387px;
	    position: relative;
    top: -21px;


}

.facultad-natural{
    display: inline-block;
    /* margin-left: 16px; */
    /* margin-top: 13px; */
    width: 183px;
    height: 387px;
    position: relative;
    top: -28px;
    left: 15px;



}


/*CSS de Textos*/
.titulos-facultad{
	font-size: 0.6em;
	text-align: center;
	
}

.carreras-facultades{
	color: #08245a;
	font-size: 0.5em;
	line-height: 20px;
	text-align: center;
}


/*socialmedia*/

.social-mediaa{
	width: 100%;
	height: 396px;
}
.barra-estudio{
	position: relative;
	left: 5%;
}
.redes{
 position: relative;
    left: 22%;
    top: 55px;

}

.aqui-estamos{
	 border-bottom: 4px solid #8af2ff;
	 border-top: 4px solid #8af2ff;
	 background: #08245a; 
	position: relative;
	top: 117px;
	width: 932px;
	height: 60px;
	margin: 0 auto;

}

.aqui-estamos p {
	text-align: center;
	letter-spacing: 0.5em;
	line-height: 70px;
	font-size: 1.2em;
}

#content {
	background-color:#FFF;
		background: url('../images/margen_footer.png') white;
		width:1036px;
		height:3107px;}
/*CSS Facultades*/



/*CSS Contacto*/

/*CSS Requisitos*/