/* viñetas de educacion*/


.vineta-educacion{
	position: relative;
    left: 5%;
}

/*FACULTAD ingles*/ /*CADA FACULTAD TIENE DISTINTOS TAMAÑOS SU INFORMACION*/

/*texto en las viñetas*/

.titulo-facultad-educacion{
    position: relative;
    top: -56px;
    left: 3%;
    font-size: 18px;
    /* text-align: center; */
    letter-spacing: 4px;
}

/*texto titutlo facultades*/

.seccion-uno-educacion h1{
	font-size: 48px;
letter-spacing: 6px;
	
}

.seccion-uno-educacion .introduccion-educacion h4{
    font-size: 18px;
    position: relative;
    top: 68px;
    letter-spacing: 4px;
}

.seccion-uno-educacion{
	

   
    width: 90%;
    position: relative;
    left: 5%;
    top: 45px;
    height: 557px;
    overflow: hidden;
}

.introduccion-educacion{
		border-right: solid 2px #ff6161;;
	
	
    width: 59%;
    height: 100%;

}

.educacion-introduccion{
	
       letter-spacing: 2px;
    line-height: 30px;
    font-size: 12.9px;
    text-align: left;
    width: 90%;
    position: relative;
    top: 95px;

}

.informacion-directora-educacion{
    position: relative;
  
    width: 33%;
    top: -101%;
    left: 67%;
}

.acredita-educacion{
    position: relative;
    left:35%;
}
.director-carrera-educacion{
font-size: 17px;
    letter-spacing: 4px;
    line-height: 96px;
    text-align: right;
}

.informacion-directora-educacion p {
    text-align: right;
    font-size: 11px;
    letter-spacing: 2px;
    position: relative;
    top: -23px;
    line-height: 16px;
}

/*Perfil-egresado-educacion*/

    .perfil-egresado-educacion{
		padding:30px 0 30px 0;
		border-top:solid 2px #ff6161;
		border-bottom:solid 2px #ff6161;
    
    width: 90%;
    height: 100%;
    position: relative;
    top: 109px;
    left: 5%;
}

.perfil-egresado-educacion h4{
     font-size: 18px;
    letter-spacing: 4px;
}

.perfil-egresado-educacion p {
    line-height: 26px;
    font-size: 12.5px;
    letter-spacing: 2px;

}

/*seccion dos ingles*/

/*campo ingles*/

.seccion-dos-educacion{

    width: 90%;
    height: 100%;
    position: relative;
    top: 193px;
    left: 5%;
    overflow: hidden;

}

.campo-educacion{
	border-right: solid 2px #ff6161;;
    width: 59%;
    
    height: 100%;
    display: inline-block;
}

.descarga-malla-educacion {
	
   letter-spacing: 6px;
    font-size: 31px;
    /* line-height: 5px; */
    position: relative;
    top: 71px;

}
.descarga-malla-educacion :hover{
 color: red;
}
	

.campo-educacion h4{
  font-size: 18px;
    letter-spacing: 4px;
}

.campo-educacion p{
       letter-spacing: 2px;
    line-height: 30px;
    font-size: 12.9px;
    text-align: left;
    width: 90%;
    position: relative;
}

/*info general ingles*/

.info-general-educacion{
   
    width: 30%;
        height: 100%;
    position: relative;
    top: -224px;
    left: 70%;
    text-align: right;
}

.info-general-educacion h4{
      font-size: 18px;
    letter-spacing: 4px;
}
.info-general-educacion p {
 font-size: 12.9px;
    line-height: 27px;
    letter-spacing: 2px;
}

/*mate*/

.info-general-educacion-matematica{
   
    width: 30%;
        height: 100%;
    position: relative;
    top: -194px;
    left: 70%;
    text-align: right;
}

.info-general-educacion-matematica h4{
      font-size: 18px;
    letter-spacing: 4px;
}
.info-general-educacion-matematica p {
 font-size: 12.9px;
    line-height: 27px;
    letter-spacing: 2px;
}

.descarga-malla-educacion-matematica {
    
   letter-spacing: 6px;
    font-size: 31px;
    /* line-height: 5px; */
    position: relative;
    top: 142px;

}

/*FACULTAD ingles*/ /*CADA FACULTAD TIENE DISTINTOS TAMAÑOS SU INFORMACION*/