/* viñetas de educacion*/

.vineta-educacion{
	position: relative;
    left: 5%;
}

/*FACULTAD INGLES*/ /*CADA FACULTAD TIENE DISTINTOS TAMAÑOS SU INFORMACION*/

/*texto en las viñetas*/

.titulo-facultad-educacion{
    position: relative;
    top: -56px;
    left: 3%;
    font-size: 18px;
    /* text-align: center; */
    letter-spacing: 4px;
}

/*texto titutlo facultades*/

.seccion-uno h1{
	font-size: 48px;
letter-spacing: 6px;
	
}

.seccion-uno .introduccion h4{
    font-size: 18px;
    position: relative;
    top: 68px;
    letter-spacing: 4px;
}

.seccion-uno{
    border-style: solid;
    border-color: red;
    width: 90%;
    height: 732px;
    position: relative;
    left: 5%;
    top: 45px;
}

.introduccion{
	border: 2px solid rgba(215, 40, 40, 0.5);
    width: 59%;
    height: 550px;

}

.ingles-introduccion{
       letter-spacing: 2px;
    line-height: 30px;
    font-size: 12.9px;
    text-align: left;
    width: 93%;
    position: relative;
    top: 95px;


}

/*FACULTAD INGLES*/ /*CADA FACULTAD TIENE DISTINTOS TAMAÑOS SU INFORMACION*/