@charset "UTF-8";
/* CSS Document */




	
	/*Tringulo css 
	.triangulo_inf {
		
		
 width: 0;
     height: 0;
     border-right: 525px solid transparent;
     border-top: 100px solid transparent;
     border-left: 525px solid transparent;
     border-bottom: 200px solid #08245a;
}
	Tringulo css */


/* imagen acreditacion*/
footer{

background-image:url(../images/prefooter.png);
background-size: 1100px 300px;
background-position:bottom;
background-repeat: no-repeat;
	

background-color:#fff;
height:400px;
border-left: 7px double #08245a;
border-right: 7px double #08245a;
position: relative;
 left: -7px;
	width:1030px;

}



