/* viñetas de requisitos*/


.vineta-requisitos{
	position: relative;
    left: 5%;
}

.titulo-requisitos{
    position: relative;
    top: -66px;
    left: 3%;
    font-size: 40px;
    /* text-align: center; */
    letter-spacing: 4px;
}

/* bordes trabajo social*/

/*requisitos*/


.requisitos-contenedor{
    width: 90%;
    height: 100%;
    position: relative;
    top: -26px;
    left: 5%;
}


.requisitos-diurno{
    width: 50%;
    height: 100%;
    display: inline-block;
    border-right: solid 2px #61eeff;
}

.requisitos-vespertino{
    width: 45%;
    height: 100%;
    float: right;

}


.requisitos-contenedor p {
    font-size: 11.5px;
    letter-spacing: 2px;
    width: 84%;
}

.perfil-egresado-requisitos {
    padding: 30px 0 30px 0;
    border-top: solid 2px #61eeff;
    /*border-bottom: solid 2px #61eeff;*/
    width: 90%;
    height: 100%;
    position: relative;
    top: 41px;
    left: 5%;}

.perfil-egresado-requisitos h4 {
    font-size: 14px;
    letter-spacing: 4px;
}

.perfil-egresado-requisitos p {
    line-height: 26px;
    font-size: 11.5px;
    letter-spacing: 2px;
}
